src/META-INF/wsdl/localhost_8080/msse676/GetWxObservationsImplService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="getMostRecentOb" type="tns:getMostRecentOb"/>

<xs:element name="getMostRecentObResponse" type="tns:getMostRecentObResponse"/>

<xs:element name="getObsRange" type="tns:getObsRange"/>

<xs:element name="getObsRangeResponse" type="tns:getObsRangeResponse"/>

<xs:complexType name="getObsRange">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getObsRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:obs" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obs">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMostRecentOb">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMostRecentObResponse">
<xs:sequence>
<xs:element name="return" type="tns:ob" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ob">
<xs:sequence/>
</xs:complexType>
</xs:schema>